@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
h2 {
  color: red;
} /* agregamos la tipografia */
* {
  /* padding: 0;
  margin: 0; */
  font-family: "Roboto", sans-serif;
}

/* fin tipografia */
/* inicio de nav  */
header {
  height: 14vh;
}
header ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header img {
  height: 14vh;
  width: 14vh;
  border-radius: 100%;
  align-items: center;
}

/* fin de nav */
.icono {
  background-color: rgba(29, 7, 7, 0.6);
  padding: 15%;
  border-radius: 100%;
  transition: 0.5s;
}
.icono:hover {
  transform: scale(1.2);
  transition: 0.4s;
}

/* inicio carrusel */
/* .carousel-inner {
    height: 70vh;
    width: 85%;    
    margin: auto;
    } */
/* fin carrusel */
/* inicio de quienes somos */
.somos {
  padding: 2% 0 2% 0;
  width: 99%;
  margin: auto;
  text-justify: inter-word;
  text-align: justify;
}
.somos p {
  text-indent: 5%;
}

/* fin de quienes somos */
/* inicio de valores */
.valores {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  text-justify: inter-word;
}
.valores p {
  display: flex;
  margin: auto;
  width: 90%;
  text-indent: 5%;
}
.valores h2 {
  margin: auto;
  width: 90%;
}
.valores img {
  border-radius: 15%;
  padding: 0 5% 0 5%;
  rotate: 1.5deg;
  transition: 1s;
}
.valores img:hover {
  rotate: -1.5deg;
  transition: 1s;
}

/* fin de valores */
/* inicio de integrantes */
.integrantes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.integrantes--titulo {
  margin: 0;
  padding: 2% 0 2% 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.integrantes__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.integrantes__card__text {
  color: rgba(0, 0, 0, 0);
  padding: 0% 5% 0% 5%;
  position: absolute;
  bottom: 20%;
  left: 0%;
  display: flex;
  text-indent: 20%;
  text-align: justify;
  text-justify: inter-word;
}
.integrantes__card__text:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

/* fin de integrantes */
/* inicio productos */
.et_productos {
  width: 90%;
  margin: auto;
  padding: 5% 0 0 0;
  align-items: center;
}
.et_productos p {
  text-indent: 5%;
  text-align: justify;
}
.et_productos img {
  border-color: white;
  border-style: solid;
  border-radius: 100%;
}
.et_productos__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.et_productos__link {
  width: 70%;
  text-align: center;
}

/* fin de productos */
/* inicio de ingredientes */
.row--ingrediente {
  padding: 1%;
}

.ingrediente {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 0%;
}
.ingrediente div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ingrediente div:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.ingrediente h5 {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1%;
  border-radius: 10%;
}

@media (max-width: 768px) {
  .ingrediente h5 {
    font-size: medium;
  }
}
@media (max-width: 410px) {
  .ingrediente h5 {
    font-size: x-small;
  }
}
/* fin de ingredientes */
/* inicio de receta */
.receta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 0%;
}
.receta div {
  display: flex;
  justify-content: center;
  align-items: start;
}
.receta h5 {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1%;
  border-radius: 10%;
}

/* fin de receta */
/* inicio de preparacion */
.preparacion--titulo, .receta--titulo, .ingrediente--titulo {
  margin: 0;
  padding: 2% 0 2% 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* fin de preparacion */
/* inicio de pedido*/
.pedido {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pedido--titulo {
  margin: 0;
  padding: 5% 0 2% 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.pedido div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* fin de pedido */
/* inicio de ubicacion */
.ubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.ubicacion iframe {
  border-radius: 20px 0px 0px 0px;
  height: 100%;
}
.ubicacion__map, .ubicacion__contacto {
  padding: 0%;
  height: 100%;
}
.ubicacion article {
  height: 100%;
  padding-left: 5%;
  border-radius: 0px 0px 20px 0px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ubicacion li {
  list-style: none;
}

@media (max-width: 767px) {
  .ubicacion {
    height: 75vh;
  }
  .ubicacion__map {
    height: 60%;
  }
  .ubicacion__contacto {
    height: 40%;
  }
}
/* fin de ubicacion */
/* inicio formulario */
.mensaje {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.formulario label {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.formulario textarea {
  width: 100%;
}

/* fin formulario */
/* inicio de envios */
.envios {
  padding: 2% 0 2% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.envios__img {
  padding: 2% 0 2% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.envios img {
  height: 15vh;
  width: 15vh;
}

/* fin de envios */
/* inicio foter */
.fondo {
  background-color: aqua;
  list-style: none;
}
.fondo img {
  height: 15vh;
  width: 15vh;
  border-radius: 100%;
}
.fondo li {
  list-style: none;
}
.fondo__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* fin footer */

/*# sourceMappingURL=styles.css.map */
