/* inicio de pedido*/

.pedido{    
    display: flex;
    justify-content: center;
    align-items: center;

    &--titulo{
        margin: 0;
        padding: 5% 0 2% 5%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }   
}

/* fin de pedido */