@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* fondo de pantalla */
body{
    background-image: url("../../media/fondo4.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: 75vh;
    
}

/* agregamos la tipografia */
*{    
    font-family: 'Roboto', sans-serif;
}
/* fin tipografia */


